<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8"/>
	<title>SBEC</title>
	<link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
	</head>


	<body>
	<!-- ヘッダーのフラグメントテンプレート -->
	<header class ="header-container" th:fragment="frag_header">

		<div class ="logo">
			<h1><a th:href="@{/}">SBEC</a></h1>
		</div>
		<nav class ="navbar-right">
			<ul class ="nav-ul">
				<li class ="nav-li"><a th:href="@{/about}">ABOUT</a></li>
				<li class ="nav-li"><a th:href="@{/login}">Sign In</a></li>
				<li class ="nav-li">Sign Up</li>
			</ul>
		</nav>
	</header>

	<main>
		<div class ="article-container">
			<h1 class="article-title">2022SB_SpringProject</h1>
		</div>
		<div class ="link-container">
			<ul>
				<li><a th:href="@{/about}">ABOUT</a></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</main>

	<!-- フッターのフラグメントテンプレート -->
	<footer th:fragment="frag_footer">
		<p>Copyright © 2022 SB2022 All Rights Reserved.</p>
	</footer>

	</body>
</html>
